out/*
*.swp
.idea/*
*.pyc
*.png
*.xlsx
venv/*
param_files/parameters.h5
param_files/.idea
.DS_Store
.vscode/
*.egg*
*.log
.nox/
build/
.ruff_cashe
.pytest_cashe
.mypy_cahse
.coverage
.snakemake/
.spyproject
.vs
