appdirs==1.4.4
arandr==0.1.10
argcomplete==1.12.0
beautifulsoup4==4.9.3
blivet==3.3.0
blivet-gui==2.2.1
chardet==3.0.4
cupshelpers==1.0
Cython==0.29.21
dasbus==1.4
dbus-python==1.2.16
decorator==4.4.2
distlib==0.3.1
distro==1.5.0
et-xmlfile==1.0.1
filelock==3.0.12
gpg==1.14.0
humanize==0.5.1
idna==2.10
initial-setup==0.3.83
jdcal==1.4.1
langtable==0.0.54
libcomps==0.1.15
lxml==4.5.1
nftables==0.1
numexpr==2.7.2
numpy==1.19.4
openpyxl==3.0.6
pandas==1.2.0
pexpect==4.8.0
pid==2.2.3
productmd==1.30
progressbar2==3.51.4
ptyprocess==0.6.0
pwquality==1.4.4
pycairo==1.18.2
pycups==2.0.1
pycurl==7.43.0.5
PyGObject==3.38.0
pykickstart==3.29
pyparted==3.11.5
PySocks==1.7.1
python-augeas==0.5.0
python-dateutil==2.8.1
python-gettext==4.0
python-manatools==0.0.3
python-meh==0.50
python-utils==2.4.0
pytz==2020.5
pyudev==0.22.0
PyYAML==5.4.1
requests==2.24.0
requests-download==0.1.2
requests-file==1.4.3
requests-ftp==0.3.1
rpm==4.16.1.2
selinux==3.1
sepolicy==3.1
setools==4.3.0
simpleline==1.7
six==1.15.0
slip==0.6.4
slip.dbus==0.6.4
sos==4.0
soupsieve==2.0.1
SSSDConfig==2.4.1
systemd-python==234
tables==3.6.1
urllib3==1.25.8
virtualenv==20.2.1
